* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
div, p , span{
    margin: 0;
    padding: 0;
    margin-bottom: 0px !important;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

.navbar {
    position: relative;
    background-color: #333;
    color: #fff;
    padding: 15px 0;
    text-align: center;
    display: flex;
    height: 20vh;
}
.logo{
    width: 50%;
    font-family: 'Times New Roman', Times, serif;
    padding-left: 100px;
    align-content: center;
}
.header-content h1 {
    margin-bottom: 10px;
}
nav{
    margin-left: 50px;
    align-content: center;
}
nav ul {
    align-content: center;
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 10px;
}
.container1{
    border: black solid 2px;
    display: flex;
    height: 90vh;
    position: relative;
    text-align: center;
    background-image: url("https://img.freepik.com/premium-photo/old-black-background-grunge-texture-dark-wallpaper-blackboard-chalkboard-room-wall_481606-89.jpg");
    background-size: cover;
}
nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    border: 1px solid transparent;
    transition: 0.3s;
}

nav ul li a:hover {
    border: 1px solid #fff;
    background-color: #555;
}

.text-1{
    color: white;
    position: absolute;
    top:50%;
    left: 50%;
    font-size: 40px;
    transform: translate(-50%, -50%);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.container2{
    border: solid black 2px;
    position: relative;
    text-align: left;
    display: flex;
}
.container3 img{
    height: 450px;
}
.child1{
    position: relative;
    padding: 50px;
    width: 50%;
}
.child2{
    position: relative;
    padding: 50px;
    width: 50%;
}
div, span{
    margin:0;
    padding:0;
}
.container3{
    position: relative;
    text-align: left;
}
.text-2{
    color: black;
    position: absolute;
    top:30%;
    left: 30%;
    font-size: 35px;
    transform: translate(-50%, -50%);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.container3 .btn{
    color: goldenrod;
    background-color: white;
    outline: none;
    font-size: 18px;
    border: white;
    position: absolute;
    align-items: left;
    top: 53%;
    font-family:'Times New Roman', Times, serif;
    left: 23%;
    padding: 10px;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}
.container4{
    border: black solid 2px;
    padding: 20px;
    position: relative;
    display: flex;
}
.container5{
    overflow: hidden;
    position: relative;
    height: 450px;
    background-color: rgb(173, 170, 170);
     display: flex;
}
.card-content{
    background-color: white;
    margin-left: 300px;
    width: 50%;
    font-size: 35px;
    text-align: center;
    font-weight: 700;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.card-content2{
    background-color: white;
    margin-right: 300px;
    padding-left: 20px;
    width: 50%;
    font-size: 35px;
    text-align: left;
    font-weight: 700;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.card-content .btn{
    background-color: goldenrod;
    border: none;
    padding: 5px;
    font-size: 20px;
    color: white;
}
.card-content .btn:hover{
    color: black;
    background-color:blanchedalmond;
}
.card-img{
    margin-right: 300px;
    display: block;
    width: 50%;
    height: auto;
    object-fit:cover;
}
.card-img2{
    margin-left: 300px;
    display: block;
    width: 50%;
    height: auto;
    object-fit:cover;
}

footer {
    position: relative;
    text-align: center;
    height: 25vh;
    font-size: 40px;
    align-content: center;
    align-items: center;
    padding: 15px 0;
    padding-top: 0;
    background-color: #333;
    color: #fff;
}
footer img{
    display: block;
    width: 50%;
    height: auto;
    object-fit:cover;
}
.footertext{
    position: absolute;
    font-size: 15px;
    color: white;
}
